* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url('assets/hatterkepmalta.png') no-repeat center center fixed;
  background-size: cover;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 100%;
  margin: 0 auto;
}

.content {
  border-top: 2px solid hsla(0, 0%, 30%, .8);
  text-align: justify;
  font-family: "Arial Nova", Arial;
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 2% 5%;
  
}

/* Profile image */

.profile-image {
  margin-top: -30px;
}

img {
  width: 80px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}

img:hover {
  filter: grayscale(20%);
  transform: rotateY(150deg);
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .3);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.icon {
    color: blue;
  } 
